.profile__edit-avatar-button {
  position: absolute;
  width: 120px;
  height: 120px;
  margin: 0 29px 0 0;
  padding: 0;
  background: rgba(0, 0, 0, 0.8) url(../../../images/edit-icon.svg) no-repeat
    center center;
  background-size: 26px 26px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.3s;
}
